
body {
    background-color: bisque;
}


.box {
    background-color:red;
    display: flex;
    height: 300px;
    flex-direction: row;
    text-align: center;
    font-size: 25px;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    body {
        background-color: red;
    }

    .box {
        flex-flow: row wrap;
    }
}
.one {
    background-color: rgb(190, 186, 186);
    width: 300px; 
    border: solid;
}

.two {
    background-color: rgb(190, 186, 186);
    width: 200px; 
    border: solid;
    
}
.three {
    background-color: rgb(190, 186, 186);
    border: solid;
    width: 100px;
    
}
.four {
    background-color: rgb(190, 186, 186);
    width: 300px; 
    border: solid;
}

